<ion-header>
  <ion-navbar>
    <ion-title>New Place</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>New Place</h2>
  <form (ngSubmit)="addNewPlace()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Address</ion-label>
        <ion-input required type="text" [(ngModel)]="address" name="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Latitude</ion-label>
        <ion-input required type="number" [(ngModel)]="latitude" name="latitude"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Longtitude</ion-label>
        <ion-input required type="number" [(ngModel)]="longtitude" name="longtitude"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block type="submit">Add New Place</button>
  </form>
</ion-content>